<h1>User Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<%= link_to 'Edit Details', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>

<%= render partial: "show_items", locals: {items: @user.items} %>


<div>
<a href="/items/new">Add an Item</a>
</div>

<a href="/logout">Logout</a>
